[sources]
# Genweb core
genweb6.core = git git@github.com:UPCnet/genweb6.core.git branch=master
genweb6.theme = git git@github.com:UPCnet/genweb6.theme.git branch=master

collective.recipe.filestorage = git git@github.com:collective/collective.recipe.filestorage.git branch=python3
