[sources]
# genwebcore
genweb6.core = git git@github.com:UPCnet/genweb6.core.git branch=develop
genweb6.theme = git git@github.com:UPCnet/genweb6.theme.git branch=develop

collective.recipe.filestorage = git git@github.com:UPCnet/collective.recipe.filestorage.git branch=main

ftw.casauth = git git@github.com:UPCnet/ftw.casauth.git branch=master

# genwebupc
genweb6.upc = git git@github.com:UPCnet/genweb6.upc.git branch=develop

# genwebaddons
genweb6.tfemarket = git git@github.com:UPCnet/genweb6.tfemarket.git branch=develop
genweb6.serveistic = git git@github.com:UPCnet/genweb6.serveistic.git branch=develop
genweb6.scholarship = git git@github.com:UPCnet/genweb6.scholarship branch=develop
genweb6.ens = git git@github.com:UPCnet/genweb6.ens.git branch=develop
genweb6.patents = git git@github.com:UPCnet/genweb6.patents.git branch=develop
genweb6.esports = git git@github.com:UPCnet/genweb6.esports.git branch=develop
genweb6.gpaq = git git@github.com:UPCnet/genweb6.gpaq.git branch=develop
genweb6.rrhh = git git@github.com:UPCnet/genweb6.rrhh.git branch=develop

# genwebmigration
collective.exportimport = git https://github.com/collective/collective.exportimport.git branch=main

# genwebpatents
collective.easyformplugin.createdx = git git@github.com:UPCnet/collective.easyformplugin.createdx.git branch=main

contentimport = git git@github.com:UPCnet/contentimport.git branch=main
