[sources]
# genwebcore
genweb6.core = git https://github.com/UPCnet/genweb6.core.git branch=master
genweb6.theme = git https://github.com/UPCnet/genweb6.theme.git branch=master

collective.recipe.filestorage = git https://github.com/collective/collective.recipe.filestorage.git branch=python3

Products.PloneLDAP = git https://github.com/collective/Products.PloneLDAP.git branch=master

ftw.casauth = git https://github.com/UPCnet/ftw.casauth.git branch=master

# genwebupc
genweb6.upc = git https://github.com/UPCnet/genweb6.upc.git branch=master

# genwebaddons
genweb6.tfemarket = git https://github.com/UPCnet/genweb6.tfemarket.git branch=master

# genwebmigration
collective.exportimport = git https://github.com/collective/collective.exportimport.git branch=main

contentimport = git https://github.com/UPCnet/contentimport.git branch=main