[sources]
# Genweb core
genweb6.core = git git@github.com:UPCnet/genweb6.core.git branch=master
genweb6.theme = git git@github.com:UPCnet/genweb6.theme.git branch=master
genweb6.upc = git git@github.com:UPCnet/genweb6.upc.git branch=master

collective.recipe.filestorage = git git@github.com:collective/collective.recipe.filestorage.git branch=python3

Products.PloneLDAP = git git@github.com:collective/Products.PloneLDAP.git branch=master

ftw.casauth = git git@github.com:UPCnet/ftw.casauth.git branch=master
collective.z3cform.datagridfield = git git@github.com:collective/collective.z3cform.datagridfield branch=master
